/*.App {
  text-align: center;
}*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&display=swap");
ul li {
  display: block;
  line-height: 35px;
}
.filelink a {
  color: #007bff;
  font-size: 12px;
}
.filename {
  text-align: center;
}
.file_icons {
  width: 47%;
  font-size: 12px;
}
.icons {
  width: 21%;
  text-align: right;
}
.accordion {
  border: 0px !important;
}
.accordion__item {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}
.upload-btn {
  margin-left: 3px;
}
.custom-file-label {
  background: darkslateblue;
  color: #fff;
}
.testing-color-blue {
  background: #49c5b6;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 5px !important;
}

tr:nth-child(even) {
  background-color: #c3e6cb;
  color: #000;
}
.btn-video {
  /* background: yellow !important;
  border: 1px solid yellow;color:#000; rgb(252, 243, 176);*/
  background: rgb(241, 219, 20) !important;
  border: 1px solid rgb(241, 219, 20);
  color: #000;
}
.error {
  color: red;
  font-size: 12px;
}
.App .logo {
  text-align: left;
}
.accordion__button:before {
  float: left !important;
}
.exercisetitle {
  margin-top: -8px;
}
.fileblock {
  padding-bottom: 0px !important;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.dropdown {
  display: inline-block;
  margin-right: 20px;
}
p {
  padding: 1rem;
}

#app {
  padding: 1rem;
}

.list-unstyled {
  border: 1px solid #dfdfdf;
  background: #007bff;
}
.list-unstyled li {
  line-height: 30px;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
}

.list-unstyled li a {
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Nav-item {
  float: left;
  padding: 6px;
}
.navbar-nav {
  display: inline !important;
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #eceff1;
}

.navbar__link {
  margin: 1em;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  color: #181818;
  border-bottom: 3px solid transparent;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom 0.5s ease-in-out;
}

body {
  font-family: "Manrope", sans-serif;
  color: #202121;
}
header {
  background-color: #f4f7f6;
  color: #202121;
  margin-bottom: 20px;
}
header .far {
  color: #202121;
}
.navbar-dark .navbar-brand.logo {
  color: #202121;
}
.section-nav .alert-primary {
  background-color: #49c5b6;
}
.section-nav .far {
  color: #fff;
}
.btn-submit {
  background-color: #49c5b6 !important;
  color: #fff;
}
.turnin {
  margin-bottom: 10px;
  float: right;
}
h2 small {
  font-size: 16px;
}
.video {
  width: 150px;
  height: 150px;
}
.table td,
.table th {
  border-top: 0;
}
.nav-pills.sub-nav .nav-link,
.nav-pills .show > .nav-link {
  color: #49c5b6;
}
.nav-pills.sub-nav .nav-link.active,
.nav-pills .show > .nav-link {
  border-bottom: 2px solid #49c5b6;
  color: #49c5b6;
  background-color: transparent;
  border-radius: 0px;
}
.nav-pills.sub-nav .nav-link:hover,
.nav-pills.sub-nav .show > .nav-link:hover {
  border-bottom: 2px solid #49c5b6;
  color: #49c5b6;
  background-color: transparent;
  border-radius: 0px;
}
.choose-sec {
}
.choose-sec .card {
  width: 32%;
  float: right;
}
.table tr.answer td:first-child {
  padding-left: 40px;
}
1px solid #E6EAEA .sub-excer-section {
}
.sub-excer-section .card {
  border: 1px solid #e6eaea;
}
.sub-excer-section .card-header {
  border-bottom: 1px solid #e6eaea;
}
.sub-excer-section .btn-link {
  color: #49c5b6;
}
.sub-heading {
  border-top: 1px solid #e6eaea;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
}
.teacher-excer {
  background-color: #9fd2d6;
}
.teacher-excer-attention {
  background-color: #f8f55a;
}
.testing-color-yellow {
  background-color: rgb(252, 243, 176);
}
.testing-color-green {
  background-color: #c7f3b3;

  /* rgb(193, 238, 172)  rgb(195, 250, 169)*/
}
.testing-color-purple {
  background-color: rgb(253, 179, 247);
}
.student-excer {
  background-color: #cbe8ea;
}
.question {
  background-color: #9fd2d6;
}
.answer {
  background-color: #cbe8ea;
}
.sub-excer-section small {
  margin-top: 15px;
}

@media (max-width: 575.98px) {
  .choose-sec .card {
    width: 100%;
  }
  .sub-excer-section small {
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .choose-sec .card {
    width: 45%;
  }
}

body {
  font-family: "Manrope", sans-serif;
  color: #202121;
}
header {
  background-color: #7560ba;
  color: #fff;
  margin-bottom: 20px;
}
header .far {
  color: #fff;
}
.navbar-dark .navbar-brand.logo {
  color: #fff;
}
.section-nav .alert-primary {
  background-color: #49c5b6;
}
.section-nav .far {
  color: #fff;
}
.btn-submit {
  background-color: #49c5b6;
  color: #fff;
}
.turnin {
  margin-bottom: 10px;
  float: right;
}
h2 small {
  font-size: 16px;
}
.video {
  width: 150px;
  height: 150px;
}
.table td,
.table th {
  border-top: 0;
}
.nav-pills.sub-nav .nav-link,
.nav-pills .show > .nav-link {
  color: #49c5b6;
}
.nav-pills.sub-nav .nav-link.active,
.nav-pills .show > .nav-link {
  border-bottom: 2px solid #49c5b6;
  color: #49c5b6;
  background-color: transparent;
  border-radius: 0px;
}
.nav-pills.sub-nav .nav-link:hover,
.nav-pills.sub-nav .show > .nav-link:hover {
  border-bottom: 2px solid #49c5b6;
  color: #49c5b6;
  background-color: transparent;
  border-radius: 0px;
}
.choose-sec {
}
.choose-sec .card {
  width: 32%;
  float: right;
}
.table tr.answer td:first-child {
  padding-left: 40px;
}
1px solid #E6EAEA .sub-excer-section {
}
.sub-excer-section .card {
  border: 1px solid #e6eaea;
}
.sub-excer-section .card-header {
  border-bottom: 1px solid #e6eaea;
}
.sub-excer-section .btn-link {
  color: #49c5b6;
}
.sub-heading {
  border-top: 1px solid #e6eaea;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
}
.teacher-excer {
  background-color: #9fd2d6;
}
.student-excer {
  background-color: #cbe8ea;
}
.question {
  background-color: #9fd2d6;
}
.answer {
  background-color: #cbe8ea;
}
.sub-excer-section small {
  margin-top: 15px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pdflink {
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .choose-sec .card {
    width: 100%;
  }
  .sub-excer-section small {
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .choose-sec .card {
    width: 45%;
  }
}
.subjectIcon {
  width: 50px;
  height: 50px;
  /* background-image: url("./icons/add-circle.png");
  background-repeat: no-repeat;
  background-size: 100%; */
}
